.slideup{
    animation: slideup 1s ease 0s 1 normal forwards;
}
.fadein{
    animation: myAnim 1s ease 0s 1 normal forwards;

}
@keyframes myAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes slideup {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
